﻿@page "/"
@page "/Dashboard"

@implements IDisposable

@using Pages.Areas.Printmill.DashboardDomain.Actions
@using Pages.Areas.Printmill.DashboardDomain.Models
@using Pages.Areas.Printmill.TicketDomain.Models

<br />
<br />
<div class="well">
    <div class="container container-fluid">
        <div class="row">
            <TilesCounterUIComponent Text="New Tickets"
                                     Counter="@initData.OpenTicketsCount"
                                     Status="@((int)TicketStatus.Open)" />

            <TilesCounterUIComponent Text="Accepted"
                                     Counter="@initData.AcceptedTicketsCount"
                                     Status="@((int)TicketStatus.Accepted)" />

            <TilesCounterUIComponent Text="Incorrect"
                                     Counter="@initData.NeedsAdditionalWorkTicketsCount"
                                     Status="@((int)TicketStatus.NeedsAdditionalWork)" />

            <TilesCounterUIComponent Text="In Progress"
                                     Counter="@initData.InProgressTicketsCount"
                                     Status="@((int)TicketStatus.InProgress)" />

            <TilesCounterUIComponent Text="For Delivery"
                                     Counter="@initData.FinishedTicketsCount"
                                     Status="@((int)TicketStatus.Finished)" />

            <TilesCounterUIComponent Text="Delivered"
                                     Counter="@initData.InDeliveryTicketsCount"
                                     Status="@((int)TicketStatus.InDelivery)" />
        </div>
    </div>
</div>

@code {
    [Inject] private NavigationManager _uriHelper { get; set; }
    [Inject] private IDashboardServiceProvider _dashboardService { get; set; }

    private System.Threading.Timer timer;

    DashboardInitialDataView initData = new DashboardInitialDataView();

    protected override void OnInitialized()
    {
        SetTimer();
    }

    private void SetTimer()
    {
        //Set timer to call API resource every 20 seconds
        timer = new System.Threading.Timer(async _ =>
        {
            await GetAll();
            await InvokeAsync(StateHasChanged);
        }, null, 0, 20000);
    }

    private async Task GetAll()
    {
        initData = await _dashboardService.SelectInitialDashboardDataAsync();
    }

    public void Dispose()
    {
        timer?.Dispose();
    }
}
