﻿@page "/Delivery/DeliveryView"

@inject IJSRuntime JSRuntime

@using Microsoft.AspNetCore.Authorization
@using Pages.Areas.Delivery.DeliveryDomain.Models
@using Pages.Areas.Delivery.DeliveryDomain.Constants
@using Pages.Areas.Delivery.DeliveryDomain.Actions
@using Pages.Shared.Models

@attribute [Authorize(Roles = Pages.Areas.User.AuthenticationDomain.Constants.Roles.ADMINOREMPLOYEE)]

<br />
<EditForm Model="@filter" OnValidSubmit="@SearchUsersAsync">
    <div class="well">
        <div class="container container-fluid">
            <div class="div-panel">
                <div class="row">
                    <div class="col col-8">
                        <h5>Delivery Management</h5>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="guid">Delivery Guid:</label>
                            <InputText @bind-Value="filter.Guid" Class="form-control" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="createdByUsername">Created By User Name:</label>
                            <InputText @bind-Value="filter.CreatedByUsername" Class="form-control" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="createdForUsername">Created For User Name:</label>
                            <InputText @bind-Value="filter.CreatedForUsername" Class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="pull-right">
                            <button class="btn btn-outline-primary btn-sm"
                                    type="button"
                                    disabled="@IsProcessing"
                                    @onclick="(async () => await SearchUsersAsync())">
                                @if (IsProcessing)
                                {
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    <span class="sr-only">Loading...</span>
                                }
                                Search
                            </button>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-outline-light btn-sm"
                                    type="button"
                                    @onclick="(() => ClearSearchSync())">
                                Clear Search
                            </button>&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>
<br />
@if (IsGridVisible)
{
    <div class="well">
        <div class="container container-fluid">
            <div class="div-panel" style="height: 450px;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Guid</th>
                            <th>Created For</th>
                            <th>Tickets</th>
                            <th>Date Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (deliveries.Count > 0)
                        {
                            foreach (var delivery in deliveries)
                            {
                                <tr @onclick="(() => NavigateToDetail(delivery.Guid.ToString()))" style="cursor: pointer;">
                                    <td>@delivery.Guid</td>
                                    <td>@delivery.CreatedForUserName</td>
                                    <td>@delivery.NumberOfTickets</td>
                                    <td>@delivery.DateCreated</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td>No data by provided filter</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div class="well">
        <div class="container container-fluid">
            <div class="div-panel">
                <PagingUIComponent OnChangePage="@ChangePage"
                                   Page="@pagedResponse.Paging.Page"
                                   TotalPages="@pagedResponse.Paging.TotalPages"
                                   ShowFirstLast="false"
                                   ShowPageNumbers="true"
                                   VisiblePages="5"
                                   FirstText="First"
                                   LastText="Last" />
            </div>
        </div>
    </div>
    <br />
}

@code {
    [Inject] private NavigationManager _uriHelper { get; set; }
    [Inject] private IDeliveryServiceProvider _deliveryService { get; set; }

    List<DeliveryDataView> deliveries = new List<DeliveryDataView>();
    PagedResponse<DeliveryDataView> pagedResponse = new PagedResponse<DeliveryDataView>();
    DeliveryFilterRequest filter = new DeliveryFilterRequest();

    public bool IsProcessing { get; private set; } = false;
    public bool IsGridVisible { get; private set; } = false;
    private int _page = 0;
    private int _pageSize = 8;

    protected async Task SearchUsersAsync()
    {
        IsProcessing = true;
        pagedResponse = await _deliveryService.SelectAllDeliveriesByFilterAsync(_page, _pageSize, filter);
        deliveries = pagedResponse.Items.ToList();
        IsProcessing = false;
        IsGridVisible = true;
    }

    public async Task ChangePage(int page)
    {
        _page = page;
        await SearchUsersAsync();
    }

    protected void ClearSearchSync()
    {
        filter = new DeliveryFilterRequest();
    }

    private void NavigateToDetail(string deliveryGuid)
    {
        string clientUrl = $"{ClientUrls.BaseUrl}/{ClientUrls.DeliveryDetails}/{deliveryGuid}";
        JSRuntime.InvokeAsync<object>("open", clientUrl, "_blank");
    }
}
