﻿@page "/Delivery/DeliveryDetails"
@page "/Delivery/DeliveryDetails/{DeliveryGuid}"

@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Authorization

@inject IJSRuntime JSRuntime

@using Pages.Areas.Delivery.DeliveryDomain.Actions
@using Pages.Areas.Delivery.DeliveryDomain.Models
@using Pages.Areas.Printmill.TicketDomain.Constants

@attribute [Authorize(Roles = Pages.Areas.User.AuthenticationDomain.Constants.Roles.ADMINOREMPLOYEE)]

<br />
<br />

@if (IsInitProcessing)
{
    <Loading />
}
else
{
    <div class="container" style="max-width:800px;">
        <div class="div-form-panel">
            <div class="row">
                <div class="col col-8">
                    <h4>Delivery Details for delivery ID: @delivery.Delivery.Id</h4>
                </div>
            </div>
            <hr />
            <br />
            <div class="col-md-12">
                <h5>Delivery Information</h5>
                <hr />
                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <td>Delivery Guid:</td>
                            <td>@delivery.Delivery.Guid</td>
                        </tr>
                        <tr>
                            <td>Number of tickets in Delivery:</td>
                            <td>@delivery.Delivery.NumberOfTickets</td>
                        </tr>
                        <tr>
                            <td>Number of Units in Delivery:</td>
                            <td>@delivery.Tickets.Sum(ticket => ticket.NumberOfUnits)</td>
                        </tr>
                        <tr>
                            <td>Date Created:</td>
                            <td>@delivery.Delivery.DateCreated</td>
                        </tr>
                    </table>
                </div>
                <h5>Delivery Created By Employee</h5>
                <hr />
                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <td>Employee Name:</td>
                            <td>@delivery.CreatedByUser.FirstName @delivery.CreatedByUser.LastName</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>@delivery.CreatedByUser.Email</td>
                        </tr>
                        <tr>
                            <td>Phone Number:</td>
                            <td>@delivery.CreatedByUser.PhoneNumber</td>
                        </tr>
                    </table>
                </div>
                <h5>Delivery Created For Customer</h5>
                <hr />
                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <td>Customer Name:</td>
                            <td>@delivery.CreatedForUser.FirstName @delivery.CreatedForUser.LastName</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>@delivery.CreatedForUser.Email</td>
                        </tr>
                        <tr>
                            <td>Phone Number:</td>
                            <td>@delivery.CreatedForUser.PhoneNumber</td>
                        </tr>
                    </table>
                </div>

                <h5>Tickets in Delivery</h5>
                <hr />
                <div class="col-md-12">
                    <div class="div-panel">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Ticket</th>
                                    <th>Units Num.</th>
                                    <th>Date Created</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var ticket in delivery.Tickets)
                                {
                                <tr @onclick="(() => NavigateToViewTicket(ticket.Guid.ToString()))" style="cursor: pointer;">
                                    <td>@ticket.Guid</td>
                                    <td>@ticket.NumberOfUnits</td>
                                    <td>@ticket.DateCreated</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
}

@code {
    [Parameter] public string DeliveryGuid { get; set; }

    [Inject] private IToastService _toastService { get; set; }
    [Inject] private NavigationManager _uriHelper { get; set; }
    [Inject] private IDeliveryServiceProvider _deliveryService { get; set; }
    [Inject] private IConfiguration _configuration { get; set; }

    DeliveryDetailedDataView delivery = new DeliveryDetailedDataView();

    public bool IsInitProcessing { get; private set; } = false;

    protected override async Task OnInitializedAsync()
    {
        IsInitProcessing = true;
        await SelectDeliveryByGuid();
        IsInitProcessing = false;
    }

    protected async Task SelectDeliveryByGuid()
    {
        delivery = await _deliveryService.SelectDeliveryByGuidAsync(DeliveryGuid);
    }

    private void NavigateToViewTicket(string ticketGuid)
    {
        string clientUrl = $"{ClientUrls.BaseUrl}/{ClientUrls.TicketDetails}/{ticketGuid}";
        JSRuntime.InvokeAsync<object>("open", clientUrl, "_blank");
    }
}
