﻿@page "/Delivery/DeliveryCreate/{UserGuid}"

@using Microsoft.AspNetCore.Authorization
@inject IJSRuntime JSRuntime

@using Pages.Areas.Printmill.TicketDomain.Models
@using Pages.Areas.Delivery.DeliveryDomain.Actions
@using Pages.Areas.Delivery.DeliveryDomain.Models
@using Pages.Areas.Delivery.DeliveryDomain.Constants
@using Pages.Areas.User.AuthenticationDomain.Constants

@attribute [Authorize(Roles = Roles.ADMINOREMPLOYEE)]

<br />
<br />
<div class="well">
    <div class="container container-fluid">
        <div class="div-panel">
            <div class="row">
                <div class="col col-8">
                    <h5>Delivery Configuration</h5>
                </div>
                <div class="col col-4" style="display: flex; justify-content: flex-end">
                    <button class="btn btn-outline-primary btn-sm"
                              type="button"
                              disabled="@IsProcessing"
                              @onclick="(async () => await CreateDeliveryAsync())">
                        @if (IsProcessing)
                        {
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span class="sr-only">Loading...</span>
                        }
                        Create Delivery
                    </button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <tr>
                            <td>Id:</td>
                            <td>@initData.CreatedForUser.Id</td>
                        </tr>
                        <tr>
                            <td>Guid:</td>
                            <td>@initData.CreatedForUser.Guid</td>
                        </tr>
                        <tr>
                            <td>Uid:</td>
                            <td>@initData.CreatedForUser.Uid</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table">
                        <tr>
                            <td>Name:</td>
                            <td>@initData.CreatedForUser.FirstName @initData.CreatedForUser.LastName</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>@initData.CreatedForUser.Email</td>
                        </tr>
                        <tr>
                            <td>Role:</td>
                            <td>@initData.CreatedForUser.Role</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="well">
    <div class="container container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="div-panel customHeight">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Tickets for Delivery</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ticket in initData.Tickets)
                            {
                                <tr @onclick="(() => AddToDelivery(ticket))" style="cursor: pointer;">
                                    <td>@ticket.Guid</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="div-panel customHeight">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Tickets to be Delivered</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ticket in newDelivery.Tickets)
                            {
                                <tr @onclick="(() => RemoveFromDelivery(ticket))" style="cursor: pointer;">
                                    <td>@ticket.Guid</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="well">
    <div class="container container-fluid">
        <div class="div-panel">
            <div class="row">
                <div class="col col-8">
                    <h5>Delivery Statistics</h5>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <tr>
                            <td>Number of tickets Left for delivery:</td>
                            <td>@initData.Tickets.Count</td>
                        </tr>
                        <tr>
                            <td>Number of tickets to be delivered:</td>
                            <td>@newDelivery.Tickets.Count</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table">
                        <tr>
                            <td>Number of units in delivery:</td>
                            <td>@newDelivery.Tickets.Sum(ticket => ticket.NumberOfUnits)</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


    @code {
        [Parameter] public string UserGuid { get; set; }

        [Inject] private NavigationManager _uriHelper { get; set; }
        [Inject] private IToastService _toastService { get; set; }
        [Inject] private IDeliveryServiceProvider _deliveryService { get; set; }

        DeliveryInitialDataView initData = new DeliveryInitialDataView();
        DeliveryCreateRequest newDelivery = new DeliveryCreateRequest();

        public bool IsProcessing { get; private set; } = false;

        protected override async Task OnInitializedAsync()
        {
            IsProcessing = true;
            initData = await _deliveryService.SelectInitialDeliveryDataAsync(UserGuid.ToString());
            IsProcessing = false;
        }

        protected async Task CreateDeliveryAsync()
        {
            IsProcessing = true;
            newDelivery.CreatedForUserId = initData.CreatedForUser.Id;
            var response = await _deliveryService.CreateDeliveryAsync(newDelivery);
            IsProcessing = false;

            if (response.Success)
            {
                _toastService.ShowSuccess(response.Message);
            }
            else
            {
                _toastService.ShowError(response.Message);
            }

            NavigateUserView();
        }

        private void AddToDelivery(TicketDataView ticket)
        {
            initData.Tickets.Remove(ticket);
            newDelivery.Tickets.Add(ticket);
        }

        private void RemoveFromDelivery(TicketDataView ticket)
        {
            newDelivery.Tickets.Remove(ticket);
            initData.Tickets.Add(ticket);
        }

        private void NavigateUserView()
        {
            string clientUrl = $"{ClientUrls.BaseUrl}/{ClientUrls.DeliveryView}";
            _uriHelper.NavigateTo(clientUrl);
        }
    }
