﻿@switch (IsSuccess)
{
    case true:
        <span class="label label-success">@StatusTrue</span>
        break;
    case false:
        <span class="label label-danger">@StatusFalse</span>
        break;
}

@code {
    private bool isSuccess;
    private string statusTrue;
    private string statusFalse;

    [Parameter]
    public bool IsSuccess
    {
        get => isSuccess;
        set
        {
            isSuccess = value;
            StateHasChanged();
        }
    }

    [Parameter]
    public string StatusTrue
    {
        get => statusTrue;
        set
        {
            statusTrue = value;
            StateHasChanged();
        }
    }

    [Parameter]
    public string StatusFalse
    {
        get => statusFalse;
        set
        {
            statusFalse = value;
            StateHasChanged();
        }
    }
}