﻿<div>
    @foreach (var error in Errors)
    {
        if (error.Key == For)
        {
            <p style="color:#ff3636;">@error.Value</p>
        }
    }
</div>

@code {
    [Parameter] public List<KeyValuePair<string, string>> Errors { get; set; }
    [Parameter] public string For { get; set; }
}