﻿<style>
    .sort-link {
        cursor: pointer;
        color: #007bff !important;
    }

    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    }

    dl, ol, ul {
        margin-top: 0;
        margin-bottom: 0;
    }

    .sort-link {
        cursor: pointer;
        color: #007bff !important;
    }

    .page-link {
        position: relative;
        display: block;
        padding: .5rem .75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #007bff;
        background-color: #292a2d;
        border: 1px solid #3c3d40;
    }

    .page-item.disabled .page-link {
        color: #6c757d;
        pointer-events: none;
        cursor: auto;
        background-color: #51535a;
        border-color: #3c3d40;
    }

    .page-item:first-child .page-link {
        margin-left: 0;
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
    }

    .page-item.active .page-link {
        z-index: 1;
        color: #fff;
        background-color: #51535a;
        border-color: #3c3d40;
    }

    ul li a:hover {
        color: red;
    }
</style>

@if (TotalPages > 1)
{
    var adjusted = Math.Min(VisiblePages, TotalPages);
    var half = (int)Math.Floor(adjusted / 2d);
    var start = Math.Max(Page - half, 1);
    var finish = Math.Min(Page + half, TotalPages);
    if (start <= 1) { start = 1; finish = adjusted; }
    if (finish >= TotalPages) { start = TotalPages - adjusted; }
    if (start <= 1) { start = 1; }
    var hasPrevious = Page > 1 && TotalPages > 1;
    var hasNext = Page < TotalPages;

    <nav>
        <ul class="pagination justify-content-center">
            @if (ShowFirstLast)
            {
                if (Page == 1)
                {
                    <li class="page-item disabled noselect"><a class="page-link" tabindex="-1"><span aria-hidden="true">&laquo;</span><span class="sr-only">@FirstText</span></a></li>
                }
                else
                {
                    <li class="page-item noselect"><a class="page-link sort-link" @onclick="@(async() => await ChangePage(1))"><span aria-hidden="true">&laquo;</span><span class="sr-only">@FirstText</span></a></li>
                }
            }
            @if (hasPrevious)
            {
                <li class="page-item noselect"><a class="page-link sort-link" @onclick="@(async() => await ChangePage(Page - 1))"><span aria-hidden="true">@PreviousText</span><span class="sr-only">Go to previous page</span></a></li>
            }
            else
            {
                <li class="page-item disabled noselect"><a class="page-link" tabindex="-1"><span aria-hidden="true">@PreviousText</span><span class="sr-only">Go to previous page</span></a></li>
            }
            @if (ShowPageNumbers)
            {
                for (var i = start; i <= finish; i++)
                {
                    var currentIndex = i;
                    if (i == Page)
                    {
                        <li class="page-item active noselect"><a class="page-link">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item noselect"><a class="page-link sort-link" @onclick="@(async() => await ChangePage(currentIndex))">@currentIndex</a></li>
                    }
                }
            }
            @if (hasNext)
            {
                <li class="page-item"><a class="page-link sort-link" @onclick="@(async() => await ChangePage(Page + 1))"><span aria-hidden="true">@NextText</span><span class="sr-only">Go to next page</span></a></li>
            }
            else
            {
                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><span aria-hidden="true">@NextText</span><span class="sr-only">Go to next page</span></a></li>
            }
            @if (ShowFirstLast)
            {
                if (Page == TotalPages)
                {
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><span aria-hidden="true">@LastText</span><span class="sr-only">>Go to last page</span></a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link sort-link" @onclick="@(async() => await ChangePage(TotalPages))"><span aria-hidden="true">@LastText</span><span class="sr-only">Go to last page</span></a></li>
                }
            }
        </ul>
    </nav>
}
else
{
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item disabled noselect"><a class="page-link" tabindex="-1"><span aria-hidden="true">1</span><span class="sr-only">@FirstText</span></a></li>
        </ul>
    </nav>
}


            @code {
                [Parameter] public int Page { get; set; }
                [Parameter] public int PageSize { get; set; }
                [Parameter] public int TotalRecords { get; set; }
                [Parameter] public int TotalPages { get; set; }
                [Parameter] public bool ShowFirstLast { get; set; } = false;
                [Parameter] public bool ShowPageNumbers { get; set; } = true;
                [Parameter] public string FirstText { get; set; } = "First";
                [Parameter] public string LastText { get; set; } = "Last";
                [Parameter] public string PreviousText { get; set; } = "Previous";
                [Parameter] public string NextText { get; set; } = "Next";
                [Parameter] public int VisiblePages { get; set; } = 5;
                [Parameter] public EventCallback<int> OnChangePage { get; set; }

                private async Task ChangePage(int newPage)
                {
                    await OnChangePage.InvokeAsync(newPage);
                }
            }
