﻿@using Areas.Printmill.TicketDomain.Models

@switch (StatusId)
{
    case (int)TicketStatus.Open:
        <span class="label label-warning">@Status</span>
        break;
    case (int)TicketStatus.Accepted:
        <span class="label label-info">@Status</span>
        break;
    case (int)TicketStatus.InProgress:
        <span class="label label-primary">@Status</span>
        break;
    case (int)TicketStatus.Finished:
        <span class="label label-success">@Status</span>
        break;
    case (int)TicketStatus.NeedsAdditionalWork:
        <span class="label label-danger">@Status</span>
        break;
    case (int)TicketStatus.InDelivery:
        <span class="label label-default">@Status</span>
        break;
    default:
        <span class="label label-danger">Error Occurred</span>
        break;
}

@code {
    private int statusId;
    private string status;

    [Parameter]
    public int StatusId
    {
        get => statusId;
        set
        {
            statusId = value;
            StateHasChanged();
        }
    }

    [Parameter]
    public string Status
    {
        get => status;
        set
        {
            status = value;
            StateHasChanged();
        }
    }
}