﻿@using Areas.Printmill.TicketDomain.Models

@switch (PriorityId)
{
    case (int)TicketPriority.High:
        @Priority <span class="oi oi-chevron-top" style="color:indianred; padding-left: 15px"></span>
        break;
    case (int)TicketPriority.Medium:
        @Priority <span class="oi oi-chevron-bottom" style="color:darkorange; padding-left: 15px"></span>
        break;
    case (int)TicketPriority.Low:
        @Priority <span class="oi oi-chevron-bottom" style="color:dodgerblue; padding-left: 15px"></span>
        break;

    default:
        @undefined <span class="oi oi-chevron-bottom" style="color:dodgerblue; padding-left: 15px"></span>
        break;
}

@code {
    private int priorityId;
    private string priority;
    private string undefined = "Low";

    [Parameter]
    public int PriorityId
    {
        get => priorityId;
        set
        {
            priorityId = value;
            StateHasChanged();
        }
    }

    [Parameter]
    public string Priority
    {
        get => priority;
        set
        {
            priority = value;
            StateHasChanged();
        }
    }
}