﻿@inject IJSRuntime JSRuntime

@using Pages.Areas.Printmill.TicketDomain.Constants
@using Pages.Areas.Printmill.TicketDomain.Models
@using PrintmillManagement.Client.Pages.Areas.User.AuthenticationDomain.Actions
@using PrintmillManagement.Client.Pages.Areas.User.UserDomain.Models

<div class="col div-list-panel" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); margin:15px; cursor: pointer;"
     @onclick="(() => NavigateToDetail())">
    <h5 class="text-center" style="margin-top:15px;">@Text</h5>
    <h2 class="text-center">@Counter</h2>
</div>

@code {
    [Parameter] public int Counter { get; set; }
    [Parameter] public string Text { get; set; }
    [Parameter] public int Status { get; set; }

    [Inject] private IAuthenticationServiceProvider _authServices { get; set; }

    private async Task NavigateToDetail()
    {
        var enumDisplayStatus = (TicketStatus)Status;
        string status = enumDisplayStatus.ToString();
        string pageView = string.Empty;

        string userRole = await _authServices.GetUserRole();
        if (userRole == nameof(Roles.ADMIN) || userRole == nameof(Roles.EMPLOYEE))
        {
            pageView = ClientUrls.TicketView;
        } 
        else if (userRole == nameof(Roles.CUSTOMER))
        {
            pageView = ClientUrls.TicketViewCustomer;
        }

        string clientUrl = clientUrl = $"{ClientUrls.BaseUrl}/{pageView}/{status}";
        
        await JSRuntime.InvokeAsync<object>("open", clientUrl, "_blank");
    }
}