﻿@page "/Ticket/TicketCreate"

@using Microsoft.AspNetCore.Authorization
@using System.IO;

@using Pages.Areas.Printmill.ServiceTypeDomain.Actions
@using Pages.Areas.Printmill.ServiceTypeDomain.Models
@using Pages.Areas.Printmill.MaterialDomain.Actions
@using Pages.Areas.Printmill.MaterialDomain.Models
@using Pages.Areas.Printmill.MaterialTypeDomain.Actions
@using Pages.Areas.Printmill.MaterialTypeDomain.Models
@using Pages.Areas.Printmill.TicketDomain.Actions
@using Pages.Areas.Printmill.TicketDomain.Models
@using Pages.Areas.Printmill.TicketDomain.Constants
@using Pages.Areas.Printmill.ItemDomain.Models
@using Pages.Areas.Printmill.ItemDomain.Actions
@using Pages.Areas.User.AuthenticationDomain.Constants
@using Pages.Shared.Models

@attribute [Authorize(Roles = Roles.CUSTOMER)]

<br />
<div>
    <div class="container" style="max-width:600px;">
        <div class="div-form-panel">
            <EditForm Model="@createRequest">
                <DataAnnotationsValidator />
                <div class="card">
                    <div class="card-header">
                        ADD NEW TICKET
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="serviceTypeId">Service Type:</label>
                            <InputSelect ValueExpression="@(() => createRequest.ServiceTypeId)"
                                         Value="@createRequest.ServiceTypeId"
                                         ValueChanged="@((string value) => OnServiceSelectChanged(value))"
                                         Class="form-control">
                                @if (serviceTypeDataView.ServiceTypes.Count() == 0)
                                {
                                    <option value="">Loading...</option>
                                }
                                else
                                {
                                    <option value="">- Select Option From List -</option>
                                }
                                @foreach (var service in serviceTypeDataView.ServiceTypes)
                                {
                                    <option value="@service.Key">@service.Value</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => createRequest.ServiceTypeId)" style="color:#ff3636; padding:5px;" />
                        </div>

                        <div class="form-group">
                            <label for="materialId">Material:</label>
                            @if (String.IsNullOrWhiteSpace(createRequest.ServiceTypeId))
                            {
                                <p style="color:white; font-style: italic; font-size:13px;">Option is disabled. Service Type option is a prerequisite for this step.</p>
                            }
                            <InputSelect ValueExpression="@(() => createRequest.MaterialId)"
                                         Value="@createRequest.MaterialId"
                                         ValueChanged="@((string value) => OnMaterialSelectChanged(value))"
                                         Class="form-control"
                                         disabled="@(String.IsNullOrEmpty(createRequest.ServiceTypeId) ? true : false)">
                                <option value="">- Select Option From List -</option>
                                @foreach (var material in materialDataView.Materials)
                                {
                                    <option value="@material.Key">@material.Value</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => createRequest.MaterialId)" style="color:#ff3636; padding:5px;" />
                        </div>

                        <div class="form-group">
                            <label for="materialTypeId">Material Type:</label>
                            @if (String.IsNullOrWhiteSpace(createRequest.MaterialId))
                            {
                                <p style="color:white; font-style: italic; font-size:13px;">Option is disabled. Material option is a prerequisite for this step.</p>
                            }
                            <InputSelect ValueExpression="@(() => createRequest.MaterialTypeId)"
                                         Value="@createRequest.MaterialTypeId"
                                         ValueChanged="@((string value) => OnMaterialTypeSelectChanged(value))"
                                         Class="form-control"
                                         disabled="@(String.IsNullOrEmpty(createRequest.MaterialId) ? true : false)">
                                <option value="">- Select Option From List -</option>
                                @foreach (var materialType in materialTypeDataView.MaterialTypes)
                                {
                                    <option value="@materialType.Key">@materialType.Value</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => createRequest.MaterialTypeId)" style="color:#ff3636; padding:5px;" />
                        </div>

                        <div class="form-group">
                            <label for="itemId">Item:</label>
                            @if (String.IsNullOrWhiteSpace(createRequest.MaterialTypeId))
                            {
                                <p style="color:white; font-style: italic; font-size:13px;">Option is disabled. Material Type option is a prerequisite for this step.</p>
                            }
                            <InputSelect @bind-Value="createRequest.ItemId"
                                         Class="form-control"
                                         disabled="@(String.IsNullOrEmpty(createRequest.MaterialTypeId) ? true : false)">
                                <option value="">- Select Option From List -</option>
                                @foreach (var item in itemDataView.Items)
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => createRequest.ItemId)" style="color:#ff3636; padding:5px;" />
                        </div>

                        <div class="form-group">
                            <label for="numberOfUnits">Number Of Units:</label>
                            <InputText @bind-Value="createRequest.NumberOfUnits"
                                       Class="form-control" />
                            <ValidationMessage For="(() => createRequest.NumberOfUnits)" style="color:#ff3636; padding:5px;" />
                        </div>

                        <div class="form-group">
                            <label for="priority">Priority:</label>
                            <InputSelect ValueExpression="@(() => createRequest.Priority)"
                                         Value="@createRequest.Priority"
                                         ValueChanged="@((string value) => OnPrioritySelectChanged(value))"
                                         Class="form-control">
                                <option value="">- Select Option From List -</option>
                                @foreach (var item in Enum.GetValues(typeof(TicketPriority)))
                                {
                                    <option value="@item">@item</option>
                                }
                            </InputSelect>
                        </div>

                        <div class="form-group">
                            <label for="description">Description:</label>
                            <InputText @bind-Value="createRequest.Description"
                                       Class="form-control" />
                            <ValidationMessage For="(() => createRequest.Description)" style="color:#ff3636; padding:5px;" />
                        </div>

                        <div class="form-group">
                            <label for="note">Note:</label>
                            <InputText @bind-Value="createRequest.Note"
                                       Class="form-control" />
                            <ValidationMessage For="(() => createRequest.Note)" style="color:#ff3636; padding:5px;" />
                        </div>

                        <br />
                        <div class="form-group">
                            <label class="btn btn-outline-primary btn-block btn-file">
                                @(String.IsNullOrWhiteSpace(createRequest.FileName) ? "Upload File" : "Change Uploaded File")
                                <InputFile OnChange="OnInputFileChange"
                                           type="file"
                                           style="display: none;" />
                            </label>
                            @if (String.IsNullOrWhiteSpace(createRequest.FileName))
                            {
                                <ValidationMessage For="(() => createRequest.Stream)" style="color:#ff3636; padding:5px;" />
                            }
                            @if (!String.IsNullOrWhiteSpace(createRequest.FileName))
                            {
                                <ul>
                                    <li><i>File Name: @fileUploadSettings.FileName</i></li>
                                    <li><i>File Size: @fileUploadSettings.SizeConverted MegaByte</i></li>
                                    <li><i>File Type: @fileUploadSettings.Type</i></li>
                                </ul>
                                <div>
                                    <div class="alert alert-warning">
                                        <strong>Warning!</strong> The ticket creation process depends on your Internet upload speed and file size which will be uploaded.
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-12">
                        <div class="pull-left">
                            <button @onclick="NavigateToTicketView"
                                    class="btn btn-outline-primary btn-sm">
                                Cancel
                            </button>
                        </div>
                        <div class="pull-right">
                            <button @onclick="CreateNewAsync"
                                    class="btn btn-outline-primary btn-sm"
                                    type="submit"
                                    disabled="@(IsFirstProcessing || IsSecondProcessing)">
                                @if (IsSecondProcessing)
                                {
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    <span class="sr-only">Loading...</span>
                                }
                                Add & Repeat
                            </button>
                        </div>
                        <div class="pull-right">
                            <button @onclick="CreateAsync"
                                    class="btn btn-outline-primary btn-sm"
                                    type="submit"
                                    disabled="@(IsFirstProcessing || IsSecondProcessing)">
                                @if (IsFirstProcessing)
                                {
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    <span class="sr-only">Loading...</span>
                                }
                                Add
                            </button>&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>
<br />

@code {
    [Inject] private IServiceTypeServiceProvider _serviceTypeService { get; set; }
    [Inject] private IMaterialServiceProvider _materialService { get; set; }
    [Inject] private ITicketServiceProvider _ticketService { get; set; }
    [Inject] private IMaterialTypeServiceProvider _materialTypeService { get; set; }
    [Inject] private IItemServiceProvider _itemService { get; set; }

    [Inject] private NavigationManager _uriHelper { get; set; }
    [Inject] private IToastService _toastService { get; set; }
    IReadOnlyList<IBrowserFile> selectedFile;

    TicketFileUploadSettings fileUploadSettings = new TicketFileUploadSettings();
    TicketCreateRequest createRequest = new TicketCreateRequest();
    ResponseViewModel response = new ResponseViewModel();

    ServiceTypeDataView serviceTypeDataView = new ServiceTypeDataView();
    MaterialDataView materialDataView = new MaterialDataView();
    MaterialTypeDataView materialTypeDataView = new MaterialTypeDataView();
    ItemDataView itemDataView = new ItemDataView();

    public bool IsFirstProcessing { get; private set; } = false;
    public bool IsSecondProcessing { get; private set; } = false;

    protected override async Task OnInitializedAsync()
    {
        await GetInitialDataAsync();
    }

    protected async Task CreateAsync()
    {
        IsFirstProcessing = true;
        response = await _ticketService.CreateTicketAsync(createRequest);
        IsFirstProcessing = false;

        if (response.Success)
        {
            _toastService.ShowSuccess(response.Message);
            NavigateToTicketView();
        }
        else if (!response.Success && response.Errors.Count > 0)
        {
            _toastService.ShowError(response.Message);
        }
        else if (!response.Success)
        {
            _toastService.ShowError(response.Message);
            NavigateToTicketView();
        }
    }

    protected async Task CreateNewAsync()
    {
        IsSecondProcessing = true;
        var response = await _ticketService.CreateTicketAsync(createRequest);
        IsSecondProcessing = false;

        if (response.Success)
        {
            FileCleaning();
            _toastService.ShowSuccess(response.Message);
        }
        else
        {
            _toastService.ShowError(response.Message);
        }
    }

    private async Task GetInitialDataAsync()
    {
        serviceTypeDataView = await _serviceTypeService.GetAllServiceTypesAsync();
    }

    private async Task OnServiceSelectChanged(string value)
    {
        createRequest.MaterialId = null;
        createRequest.MaterialTypeId = null;
        createRequest.ServiceTypeId = value;
        materialDataView = await _materialService.GetMaterialsByServiceTypeIdAsync(int.Parse(createRequest.ServiceTypeId));
    }

    private async Task OnMaterialSelectChanged(string value)
    {
        createRequest.MaterialTypeId = null;
        createRequest.MaterialId = value;
        materialTypeDataView = await _materialTypeService.GetMaterialTypesByMaterialIdAsync(int.Parse(createRequest.MaterialId));
    }

    private async Task OnMaterialTypeSelectChanged(string value)
    {
        createRequest.ItemId = null;
        createRequest.MaterialTypeId = value;
        itemDataView = await _itemService.GetItemsByServiceTypeAndMaterialTypeAsync(int.Parse(createRequest.ServiceTypeId), int.Parse(createRequest.MaterialTypeId));
    }

    private void OnPrioritySelectChanged(string value)
    {
        createRequest.Priority = value;
    }

    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        int maxAllowedFiles = 1;
        selectedFile = e.GetMultipleFiles(maxAllowedFiles);

        fileUploadSettings.FileName = selectedFile.FirstOrDefault().Name;
        fileUploadSettings.Size = selectedFile.FirstOrDefault().Size;
        fileUploadSettings.Type = Path.GetExtension(fileUploadSettings.FileName).ToUpper();

        if (fileUploadSettings.Type != fileUploadSettings.ValidFileExtension.ToUpper())
        {
            _toastService.ShowError($"File extension must be {fileUploadSettings.ValidFileExtension}");
            fileUploadSettings = new TicketFileUploadSettings();
            return;
        }

        if (fileUploadSettings.Size > fileUploadSettings.MaxFileSize)
        {
            _toastService.ShowError($"File size must be lower then {fileUploadSettings.MaxFileSize / 1048576}");
            fileUploadSettings = new TicketFileUploadSettings();
            return;
        }

        foreach (var file in selectedFile)
        {
            using (Stream stream = file.OpenReadStream((int)fileUploadSettings.Size))
            {
                createRequest.Stream = stream;
                createRequest.FileName = fileUploadSettings.FileName;
            }
        }

        this.StateHasChanged();
    }

    private void FileCleaning()
    {
        createRequest.Stream = null;
        createRequest.FileName = null;
    }

    private void NavigateToTicketView()
    {
        string clientUrl = $"{ClientUrls.BaseUrl}/{ClientUrls.TicketViewCustomer}";
        _uriHelper.NavigateTo(clientUrl);
    }
}
