﻿@page "/Ticket/TicketDetailsCustomer"
@page "/Ticket/TicketDetailsCustomer/{TicketGuid}"

@using Microsoft.AspNetCore.Authorization

@using Pages.Areas.Printmill.TicketDomain.Actions
@using Pages.Areas.Printmill.TicketDomain.Models
@using Pages.Areas.Printmill.TicketDomain.Constants
@using Pages.Areas.User.AuthenticationDomain.Constants

@attribute [Authorize(Roles = Roles.CUSTOMER)]

<br />
<br />

@if (IsInitProcessing)
{
    <Loading />
}
else
{
    <div class="container" style="max-width:800px;">
        <div class="div-form-panel">
            <div class="row">
                <div class="col col-8">
                    <h4>Ticket Details for ticket ID: @ticket.Ticket.Id</h4>
                </div>
                <div class="col col-4" style="display: flex; justify-content: flex-end">
                    <TicketStatusUIComponent Status="@ticket.Ticket.Status"
                                             StatusId="@ticket.Ticket.StatusId" />
                </div>
            </div>
            <hr />
            <br />
            <div class="col-md-12">
                <h5>Ticket Information</h5>
                <hr />
                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <td>Ticket Guid:</td>
                            <td>@ticket.Ticket.Guid</td>
                        </tr>
                        <tr>
                            <td>Service Type:</td>
                            <td>@ticket.Ticket.ServiceType</td>
                        </tr>
                        <tr>
                            <td>Material and type of material:</td>
                            <td>@ticket.Ticket.Material - @ticket.Ticket.MaterialType</td>
                        </tr>
                        <tr>
                            <td>Item:</td>
                            <td>@ticket.Ticket.Item</td>
                        </tr>
                        <tr>
                            <td>Number Of Units:</td>
                            <td>@ticket.Ticket.NumberOfUnits</td>
                        </tr>
                        <tr>
                            <td>Description:</td>
                            <td>@ticket.Ticket.Description</td>
                        </tr>
                        <tr>
                            <td>Additional Notes:</td>
                            <td>@ticket.Ticket.Note</td>
                        </tr>
                        <tr>
                            <td>Date Created:</td>
                            <td>@ticket.Ticket.DateCreated</td>
                        </tr>
                        <tr>
                            <td>Priority:</td>
                            <td>
                                <TicketPriorityUIComponent PriorityId="@ticket.Ticket.PriorityId"
                                                           Priority="@ticket.Ticket.Priority" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            @if (ticket.Document != null)
            {
                <div class="col-md-12">
                    <h5>Document Information</h5>
                    <hr />
                    <div class="col-md-12 div-list-panel"
                         href="javascript:void(0)"
                         style="cursor: pointer"
                         @onclick="(async () => await DownloadDocument(ticket.Document.Id))">
                        <table class="table">
                            <tr>
                                <td>Document:</td>
                                <td>@(ticket.Document.Guid + ticket.Document.Type)</td>
                                <td>Download</td>
                            </tr>
                        </table>
                    </div>
                </div>
            }
            <br />
            @if (ticket.Ticket.StatusId == (int)TicketStatus.NeedsAdditionalWork)
            {
                <div class="d-flex bd-highlight mb-3">
                    <div class="p-2 bd-highlight">
                        <button class="btn btn-outline-light btn-sm" type="button" @onclick="NavigateToTicketEdit">
                            Edit Ticket
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
}

<br />
<br />

@code {
    [Parameter] public string TicketGuid { get; set; }

    [Inject] private IToastService _toastService { get; set; }
    [Inject] private NavigationManager _uriHelper { get; set; }
    [Inject] private ITicketServiceProvider _ticketService { get; set; }

    TicketDetailedDataView ticket = new TicketDetailedDataView();

    public bool IsInitProcessing { get; private set; } = false;

    protected override async Task OnInitializedAsync()
    {
        IsInitProcessing = true;
        await GetTicketByGuid();
        IsInitProcessing = false;
    }

    protected async Task GetTicketByGuid()
    {
        ticket = await _ticketService.GetTicketByGuidAsync(TicketGuid);
    }

    public async Task DownloadDocument(int ticketId)
    {
        await _ticketService.DownloadDocumentAsync(ticketId);
    }

    private void NavigateToTicketEdit()
    {
        string clientUrl = $"{ClientUrls.BaseUrl}/{ClientUrls.TicketEditCustomer}/{TicketGuid}";
        _uriHelper.NavigateTo(clientUrl);
    }
}