﻿@page "/Ticket/TicketDetails"
@page "/Ticket/TicketDetails/{TicketGuid}"

@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Authorization

@using Pages.Areas.Printmill.TicketDomain.Actions
@using Pages.Areas.Printmill.TicketDomain.Models
@using Pages.Shared.Models
@using Pages.Areas.User.AuthenticationDomain.Constants

@attribute [Authorize(Roles = Roles.ADMINOREMPLOYEE)]

<br />
<br />

@if (IsInitProcessing)
{
    <Loading />
}
else
{
    <div class="container" style="max-width:800px;">
        <div class="div-form-panel">
            <div class="row">
                <div class="col col-8">
                    <h4>Ticket Details for ticket ID: @ticket.Ticket.Id</h4>
                </div>
                <div class="col col-4" style="display: flex; justify-content: flex-end">
                    <TicketStatusUIComponent Status="@ticket.Ticket.Status"
                                             StatusId="@ticket.Ticket.StatusId" />
                </div>
            </div>
            <hr />
            <br />
            <div class="col-md-12">
                <h5>Ticket Information</h5>
                <hr />
                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <td>Ticket Guid:</td>
                            <td>@ticket.Ticket.Guid</td>
                        </tr>
                        <tr>
                            <td>Service Type:</td>
                            <td>@ticket.Ticket.ServiceType</td>
                        </tr>
                        <tr>
                            <td>Material and type of material:</td>
                            <td>@ticket.Ticket.Material - @ticket.Ticket.MaterialType</td>
                        </tr>
                        <tr>
                            <td>Item:</td>
                            <td>@ticket.Ticket.Item</td>
                        </tr>
                        <tr>
                            <td>Number Of Units:</td>
                            <td>@ticket.Ticket.NumberOfUnits</td>
                        </tr>
                        <tr>
                            <td>Description:</td>
                            <td>@ticket.Ticket.Description</td>
                        </tr>
                        <tr>
                            <td>Additional Notes:</td>
                            <td>@ticket.Ticket.Note</td>
                        </tr>
                        <tr>
                            <td>Date Created:</td>
                            <td>@ticket.Ticket.DateCreated</td>
                        </tr>
                        <tr>
                            <td>Priority:</td>
                            <td>
                                <TicketPriorityUIComponent PriorityId="@ticket.Ticket.PriorityId"
                                                           Priority="@ticket.Ticket.Priority" />
                            </td>
                        </tr>
                    </table>
                </div>
                <h5>Customer Information</h5>
                <hr />
                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <td>Created By:</td>
                            <td>@ticket.CreatedByUser.FirstName @ticket.CreatedByUser.LastName</td>
                        </tr>
                        <tr>
                            <td>Unique Identifier:</td>
                            <td>@ticket.CreatedByUser.Uid</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td><a href="mailto:@ticket.CreatedByUser.Email">@ticket.CreatedByUser.Email</a></td>
                        </tr>
                        <tr>
                            <td>Phone Number:</td>
                            <td>@ticket.CreatedByUser.PhoneNumber</td>
                        </tr>
                    </table>
                </div>
            </div>
            @if (ticket.Document != null)
            {
                <div class="col-md-12">
                    <h5>Document Information</h5>
                    <hr />
                    <div class="col-md-12 div-list-panel"
                         href="javascript:void(0)"
                         style="cursor: pointer"
                         @onclick="(async () => await DownloadDocument(ticket.Document.Id))">
                        <table class="table">
                            <tr>
                                <td>Document:</td>
                                <td>@(ticket.Document.Guid + ticket.Document.Type)</td>
                                <td>Download</td>
                            </tr>
                        </table>
                    </div>
                </div>
            }
            <br />
            <div class="row">
                <div class="col-12">
                    @if (ticket.Ticket.StatusId == (int)TicketStatus.Accepted)
                    {
                        <div class="pull-left">
                            <button @onclick="(async () => await NeedsAdditionalWork(ticket.Ticket.Id))"
                                    class="btn btn-outline-primary btn-sm">
                                Needs Additional Work
                            </button>
                        </div>
                    }
                    @if (ticket.Ticket.StatusId == (int)TicketStatus.Open)
                    {
                        <div class="pull-left">
                            <button @onclick="(async () => await DeleteTicket(ticket.Ticket.Id))"
                                    class="btn btn-outline-primary btn-sm">
                                Delete
                            </button>
                        </div>

                        <div class="pull-right">
                            <button @onclick="(async () => await AcceptTicket(ticket.Ticket.Id))"
                                    class="btn btn-outline-primary btn-sm">
                                Accept Ticket
                            </button>
                        </div>
                    }
                    @if (ticket.Ticket.StatusId == (int)TicketStatus.Accepted || ticket.Ticket.StatusId == (int)TicketStatus.NeedsAdditionalWork)
                    {
                        <div class="pull-right">
                            <button @onclick="(async () => await StartProgress(ticket.Ticket.Id))"
                                    class="btn btn-outline-primary btn-sm">
                                Start Progress
                            </button>
                        </div>
                    }
                    @if (ticket.Ticket.StatusId == (int)TicketStatus.InProgress)
                    {
                        <div class="pull-right">
                            <button @onclick="(async () => await ResolveTicket(ticket.Ticket.Id))"
                                    class="btn btn-outline-primary btn-sm">
                                Resolve Ticket
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

<br />
<br />

@code {
    [Parameter] public string TicketGuid { get; set; }

    [Inject] private IToastService _toastService { get; set; }
    [Inject] private ITicketServiceProvider _ticketService { get; set; }
    [Inject] private IConfiguration _configuration { get; set; }

    TicketDetailedDataView ticket = new TicketDetailedDataView();

    public bool IsInitProcessing { get; private set; } = false;

    protected override async Task OnInitializedAsync()
    {
        IsInitProcessing = true;
        await GetTicketByGuid();
        IsInitProcessing = false;
    }

    protected async Task AcceptTicket(int ticketId)
    {
        var response = await _ticketService.AcceptTicketAsync(ticketId);
        await HandleStatusMessages(response);
    }

    protected async Task StartProgress(int ticketId)
    {
        var response = await _ticketService.UpdateTicketStatusAsync(ticketId, (int)TicketStatus.InProgress);
        await HandleStatusMessages(response);
    }

    protected async Task ResolveTicket(int ticketId)
    {
        var response = await _ticketService.UpdateTicketStatusAsync(ticketId, (int)TicketStatus.Finished);
        await HandleStatusMessages(response);
    }

    protected async Task NeedsAdditionalWork(int ticketId)
    {
        var response = await _ticketService.UpdateTicketStatusAsync(ticketId, (int)TicketStatus.NeedsAdditionalWork);
        await HandleStatusMessages(response);
    }

    public async Task DeleteTicket(int ticketId)
    {
        var response = await _ticketService.DeleteTicketAsync(ticketId);
        await HandleStatusMessages(response);
    }

    protected async Task GetTicketByGuid()
    {
        ticket = await _ticketService.GetTicketByGuidAsync(TicketGuid);
    }

    public async Task DownloadDocument(int ticketId)
    {
        await _ticketService.DownloadDocumentAsync(ticketId);
    }

    protected async Task HandleStatusMessages(ResponseViewModel response)
    {
        if (response.Success)
        {
            _toastService.ShowSuccess(response.Message);
            await GetTicketByGuid();
        }
        else
        {
            _toastService.ShowError(response.Message);
            await GetTicketByGuid();
        }
    }
}