﻿@page "/Ticket/TicketImportSolved"

@using Microsoft.AspNetCore.Authorization
@inject IJSRuntime JSRuntime
@using System.IO;

@using Pages.Areas.User.AuthenticationDomain.Constants
@using Pages.Areas.Printmill.TicketDomain.Actions
@using Pages.Areas.Printmill.TicketDomain.Models
@using Pages.Areas.Printmill.TicketDomain.Constants

@attribute [Authorize(Roles = Roles.ADMINOREMPLOYEE)]

@if (!ticketImportSolvedResponse.Any())
{
    <br />
    <div>
        <div class="container" style="max-width:600px;">
            <div class="div-form-panel">
                <EditForm Model="@createRequest" OnValidSubmit="@ImportAsync">
                    <DataAnnotationsValidator />
                    <div class="card">
                        <div class="card-header">
                            IMPORT SOLVED TICKETS
                        </div>
                        <div class="card-body">
                            <br />
                            <div class="form-group">
                                <label class="btn btn-outline-primary btn-block btn-file">
                                    @(String.IsNullOrWhiteSpace(createRequest.FileName) ? "Upload File" : "Change Uploaded File")
                                    <InputFile OnChange="OnInputFileChange"
                                               type="file"
                                               style="display: none;" />
                                </label>
                                @if (String.IsNullOrWhiteSpace(createRequest.FileName))
                                {
                                    <ValidationMessage For="(() => createRequest.Stream)" style="color:#ff3636; padding:5px;" />
                                }
                                @if (!String.IsNullOrWhiteSpace(createRequest.FileName))
                                {
                                    <ul>
                                        <li><i>File Name: @fileUploadSettings.FileName</i></li>
                                        <li><i>File Size: @fileUploadSettings.SizeConverted MegaByte</i></li>
                                        <li><i>File Type: @fileUploadSettings.Type</i></li>
                                    </ul>
                                    <div>
                                        <div class="alert alert-warning">
                                            <strong>Warning!</strong> The process depends on your Internet upload speed and file size which will be uploaded.
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="d-flex bd-highlight mb-3">
                        <div class="p-2 bd-highlight">
                            <button @onclick="NavigateToIndex"
                                    class="btn btn-outline-primary btn-block">
                                Cancel
                            </button>
                        </div>
                        <div class="ml-auto p-2 bd-highlight">
                            <button class="btn btn-outline-primary btn-block"
                                    type="submit"
                                    disabled="@IsProcessing">
                                @if (IsProcessing)
                                {
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    <span class="sr-only">Loading...</span>
                                }
                                Import
                            </button>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
    <br />
}

@if (IsProcessing)
{
    <br />
    <br />
    <Loading />
}
else if (ticketImportSolvedResponse.Any() && !IsProcessing)
{
    <br />
    <br />
    <div class="well">
        <div class="container container-fluid">
            <div class="div-panel">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Ticket Guid</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ticket in ticketImportSolvedResponse)
                        {
                            <tr @onclick="(() => NavigateToDetail(ticket.Guid.ToString()))" style="cursor: pointer;">
                                <td>@ticket.Guid</td>
                                <td>
                                    <BooleanStatusUIComponent IsSuccess="@ticket.Success"
                                                              StatusTrue="Success"
                                                              StatusFalse="Error" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
<br />

@code {
    [Inject] private ITicketServiceProvider _ticketService { get; set; }

    [Inject] private NavigationManager _uriHelper { get; set; }
    [Inject] private IToastService _toastService { get; set; }
    IReadOnlyList<IBrowserFile> selectedFile;

    TicketImportSolvedRequest createRequest = new TicketImportSolvedRequest();
    List<TicketImportSolvedResponse> ticketImportSolvedResponse = new List<TicketImportSolvedResponse>();
    TicketFileUploadSettings fileUploadSettings = new TicketFileUploadSettings();

    public bool IsProcessing { get; private set; } = false;

    protected async Task ImportAsync()
    {
        IsProcessing = true;
        ticketImportSolvedResponse = await _ticketService.ImportSolvedTicketAsync(createRequest);
        IsProcessing = false;
    }

    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        int maxAllowedFiles = 1;
        selectedFile = e.GetMultipleFiles(maxAllowedFiles);

        fileUploadSettings.FileName = selectedFile.FirstOrDefault().Name;
        fileUploadSettings.Size = selectedFile.FirstOrDefault().Size;
        fileUploadSettings.Type = Path.GetExtension(fileUploadSettings.FileName).ToUpper();

        if (fileUploadSettings.Type != fileUploadSettings.ValidFileExtensionImport.ToUpper())
        {
            _toastService.ShowError($"File extension must be {fileUploadSettings.ValidFileExtensionImport}");
            fileUploadSettings = new TicketFileUploadSettings();
            FileCleaning();
            return;
        }

        if (fileUploadSettings.Size > fileUploadSettings.MaxFileSize)
        {
            _toastService.ShowError($"File size must be lower then {fileUploadSettings.MaxFileSize / 1048576}");
            fileUploadSettings = new TicketFileUploadSettings();
            FileCleaning();
            return;
        }

        foreach (var file in selectedFile)
        {
            using (Stream stream = file.OpenReadStream((int)fileUploadSettings.Size))
            {
                createRequest.Stream = stream;
                createRequest.FileName = fileUploadSettings.FileName;
            }
        }

        this.StateHasChanged();
    }

    private void FileCleaning()
    {
        createRequest.Stream = null;
        createRequest.FileName = null;
    }

    private void NavigateToDetail(string ticketGuid)
    {
        string clientUrl = $"{ClientUrls.BaseUrl}/{ClientUrls.TicketDetails}/{ticketGuid}";
        JSRuntime.InvokeAsync<object>("open", clientUrl, "_blank");
    }

    private void NavigateToIndex()
    {
        _uriHelper.NavigateTo("");
    }
}
