﻿@page "/Ticket/TicketView"
@page "/Ticket/TicketView/{Status}"

@using Microsoft.AspNetCore.Authorization
@inject IJSRuntime JSRuntime

@using Pages.Areas.Printmill.TicketDomain.Actions
@using Pages.Areas.Printmill.TicketDomain.Models
@using Pages.Areas.Printmill.TicketDomain.Constants
@using Pages.Areas.User.AuthenticationDomain.Constants
@using Pages.Shared.Models

@attribute [Authorize(Roles = Roles.ADMINOREMPLOYEE)]

<br />
<EditForm Model="@filter" OnValidSubmit="@SearchTicketsAsync">
    <div class="well">
        <div class="container container-fluid">
            <div class="div-panel">
                <div class="row">
                    <div class="col col-8">
                        <h5>Ticket Management</h5>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="ticketGuid">Ticket Guid:</label>
                            <InputText @bind-Value="filter.TicketGuid" Class="form-control" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="documentGuid">Document Guid:</label>
                            <InputText @bind-Value="filter.DocumentGuid" Class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="status">Status:</label>
                            <InputSelect ValueExpression="@(() => filter.Status)"
                                         Value="@filter.Status"
                                         ValueChanged="@((string value) => OnStatusSelectChanged(value))"
                                         Class="form-control">
                                <option value="">- Select Option From List -</option>
                                @foreach (var item in Enum.GetValues(typeof(TicketStatus)))
                                {
                                    <option value="@item">@item</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="status">Priority:</label>
                            <InputSelect ValueExpression="@(() => filter.Priority)"
                                         Value="@filter.Priority"
                                         ValueChanged="@((string value) => OnPrioritySelectChanged(value))"
                                         Class="form-control">
                                <option value="">- Select Option From List -</option>
                                @foreach (var item in Enum.GetValues(typeof(TicketPriority)))
                                {
                                    <option value="@item">@item</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="serviceType">Service Type:</label>
                            <InputSelect ValueExpression="@(() => filter.ServiceType)"
                                         Value="@filter.ServiceType"
                                         ValueChanged="@((string value) => OnServiceTypeSelectChanged(value))"
                                         Class="form-control">
                                @if (initData.ServiceTypeData.Count() == 0)
                                {
                                    <option value="">Loading...</option>
                                }
                                else
                                {
                                    <option value="">- Select Option From List -</option>
                                }
                                @foreach (var service in initData.ServiceTypeData)
                                {
                                    <option value="@service.Key">@service.Value</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="pull-right">
                            <button class="btn btn-outline-primary btn-sm"
                                    type="button"
                                    disabled="@IsProcessing"
                                    @onclick="(async () => await SearchTicketsAsync())">
                                @if (IsProcessing)
                                {
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    <span class="sr-only">Loading...</span>
                                }
                                Search
                            </button>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-outline-light btn-sm"
                                    type="button"
                                    @onclick="(() => ClearSearchSync())">
                                Clear Search
                            </button>&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>
<br />
@if (IsGridVisible)
{
    <div class="well">
        <div class="container container-fluid">
            <div class="div-panel" style="height: 450px;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Ticket Guid</th>
                            <th>Service</th>
                            <th>Created Date</th>
                            <th>Priority</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (tickets.Count > 0)
                        {
                            foreach (var ticket in tickets)
                            {
                                <tr @onclick="(() => NavigateToDetail(ticket.Guid.ToString()))" style="cursor: pointer;">
                                    <td>@ticket.Guid</td>
                                    <td>@ticket.ServiceType</td>
                                    <td>@ticket.DateCreated</td>
                                    <td>
                                        <TicketPriorityUIComponent Priority="@ticket.Priority"
                                                                   PriorityId="@ticket.PriorityId" />
                                    </td>
                                    <td>
                                        <TicketStatusUIComponent Status="@ticket.Status"
                                                                 StatusId="@ticket.StatusId" />
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td>No data by provided filter</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div class="well">
        <div class="container container-fluid">
            <div class="div-panel">
                <PagingUIComponent OnChangePage="@ChangePage"
                                   Page="@pagedResponse.Paging.Page"
                                   TotalPages="@pagedResponse.Paging.TotalPages"
                                   ShowFirstLast="false"
                                   ShowPageNumbers="true"
                                   VisiblePages="5"
                                   FirstText="First"
                                   LastText="Last" />
            </div>
        </div>
    </div>
    <br />
}

@code {
    [Parameter] public string Status { get; set; }

    [Inject] private NavigationManager _uriHelper { get; set; }
    [Inject] private ITicketServiceProvider _ticketService { get; set; }

    TicketInitialFilterDataView initData = new TicketInitialFilterDataView();
    List<TicketDataView> tickets = new List<TicketDataView>();
    PagedResponse<TicketDataView> pagedResponse = new PagedResponse<TicketDataView>();
    TicketFilterRequest filter = new TicketFilterRequest();

    public bool IsProcessing { get; private set; } = false;
    public bool IsGridVisible { get; private set; } = false;
    private int _page = 0;
    private int _pageSize = 8;

    protected override async Task OnInitializedAsync()
    {
        IsProcessing = true;
        await GetAll();
        await GetTicketsByParameterStatus();
        IsProcessing = false;
    }

    protected async Task GetAll()
    {
        initData = await _ticketService.GetInitialFilterDataAsync();
    }

    protected async Task GetTicketsByParameterStatus()
    {
        if (!string.IsNullOrEmpty(Status))
        {
            OnStatusSelectChanged(Status);
            await SearchTicketsAsync();
        }
    }

    protected async Task SearchTicketsAsync()
    {
        IsProcessing = true;
        pagedResponse = await _ticketService.GetAllTicketsByUserProcessedAsync(_page, _pageSize, filter);
        tickets = pagedResponse.Items.ToList();
        IsGridVisible = true;
        IsProcessing = false;
    }

    public async Task ChangePage(int page)
    {
        _page = page;
        await SearchTicketsAsync();
    }

    protected void ClearSearchSync()
    {
        filter = new TicketFilterRequest();
    }

    private void OnStatusSelectChanged(string value)
    {
        filter.Status = value;
        filter.StatusId = (int)(TicketStatus)Enum.Parse(typeof(TicketStatus), value);
    }

    private void OnPrioritySelectChanged(string value)
    {
        filter.Priority = value;
        filter.PriorityId = (int)(TicketPriority)Enum.Parse(typeof(TicketPriority), value);
    }

    private void OnServiceTypeSelectChanged(string value)
    {
        filter.ServiceType = value;
    }

    private void NavigateToDetail(string ticketGuid)
    {
        string clientUrl = $"{ClientUrls.BaseUrl}/{ClientUrls.TicketDetails}/{ticketGuid}";
        JSRuntime.InvokeAsync<object>("open", clientUrl, "_blank");
    }

    private void NavigateToIndex()
    {
        _uriHelper.NavigateTo("");
    }
}
