﻿@page "/Ticket/TicketEditCustomer/{TicketGuid}"

@using Microsoft.AspNetCore.Authorization

@using Pages.Areas.Printmill.TicketDomain.Actions
@using Pages.Areas.Printmill.TicketDomain.Models
@using Pages.Areas.Printmill.TicketDomain.Constants
@using Pages.Areas.User.AuthenticationDomain.Constants
@using Pages.Shared.Models

@attribute [Authorize(Roles = Roles.CUSTOMER)]

<br />
<br />

@if (ticket == null)
{
    <Loading />
}
else
{
    <div class="container" style="max-width:600px;">
        <div class="div-form-panel">
            <EditForm Model="@ticket" OnValidSubmit="@EditTicketByGuidAsync">
                <DataAnnotationsValidator />
                <div class="card">
                    <div class="card-header">
                        EDIT TICKET - ticket id: @ticket.Ticket.Id
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="description">Ticket Guid:</label>
                            @ticket.Ticket.Guid
                        </div>
                        <div class="form-group">
                            <label for="numberOfUnits">Number Of Units:</label>
                            <InputNumber @bind-Value="ticket.Ticket.NumberOfUnits"
                                         Class="form-control" />
                            <ValidationMessage For="(() => ticket.Ticket.NumberOfUnits)" style="color:#ff3636; padding:5px;" />
                        </div>
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <InputText @bind-Value="ticket.Ticket.Description"
                                       Class="form-control" />
                            <ValidationMessage For="(() => ticket.Ticket.Description)" style="color:#ff3636; padding:5px;" />
                        </div>
                        <div class="form-group">
                            <label for="note">Note:</label>
                            <InputText @bind-Value="ticket.Ticket.Note"
                                       Class="form-control" />
                            <ValidationMessage For="(() => ticket.Ticket.Note)" style="color:#ff3636; padding:5px;" />
                        </div>
                        <br />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-12">
                        <div class="pull-left">
                            <button @onclick="NavigateToDetail"
                                    class="btn btn-outline-primary btn-sm">
                                Cancel
                            </button>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-outline-primary btn-sm"
                                    type="submit"
                                    disabled="@IsProcessing">
                                @if (IsProcessing)
                                {
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    <span class="sr-only">Loading...</span>
                                }
                                Save Changes
                            </button>
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
}
<br />
<br />

@code {
    [Parameter] public string TicketGuid { get; set; }

    [Inject] private IToastService _toastService { get; set; }
    [Inject] private NavigationManager _uriHelper { get; set; }
    [Inject] private ITicketServiceProvider _ticketService { get; set; }

    TicketDetailedDataView ticket = new TicketDetailedDataView();
    TicketEditRequest editRequest = new TicketEditRequest();
    ResponseViewModel response = new ResponseViewModel();

    public bool IsProcessing { get; private set; } = false;

    protected override async Task OnInitializedAsync()
    {
        await GetTicketByGuidAsync();
    }

    protected async Task GetTicketByGuidAsync()
    {
        ticket = await _ticketService.GetTicketByGuidAsync(TicketGuid);
    }

    protected async Task EditTicketByGuidAsync()
    {
        editRequest.NumberOfUnits = ticket.Ticket.NumberOfUnits.ToString();
        editRequest.Description = ticket.Ticket.Description;
        editRequest.Note = ticket.Ticket.Note;

        IsProcessing = true;
        var response = await _ticketService.EditTicketByGuidAsync(editRequest, TicketGuid);
        IsProcessing = false;

        if (response.Success)
        {
            _toastService.ShowSuccess(response.Message);
            NavigateToDetail();
        }
        else if (!response.Success && response.Errors.Count > 0)
        {
            _toastService.ShowError(response.Message);
        }
        else if (!response.Success)
        {
            _toastService.ShowError(response.Message);
            NavigateToDetail();
        }
    }

    public async Task DownloadDocumentAsync(int ticketId)
    {
        await _ticketService.DownloadDocumentAsync(ticketId);
    }

    private void NavigateToDetail()
    {
        string clientUrl = $"{ClientUrls.BaseUrl}/{ClientUrls.TicketDetailsCustomer}/{TicketGuid}";
        _uriHelper.NavigateTo(clientUrl);
    }
}
