﻿@page "/User/UserViewEmployee"

@inject IJSRuntime JSRuntime

@using Microsoft.AspNetCore.Authorization
@using Pages.Areas.User.UserDomain.Models
@using Pages.Areas.User.UserDomain.Constants
@using PrintmillManagement.Client.Pages.Areas.User.UserDomain.Actions
@using Pages.Shared.Models

@attribute [Authorize(Roles = Pages.Areas.User.AuthenticationDomain.Constants.Roles.EMPLOYEE)]

<br />
<EditForm Model="@filter" OnValidSubmit="@SearchUsersAsync">
    <div class="well">
        <div class="container container-fluid">
            <div class="div-panel">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label for="ticketGuid">User Guid:</label>
                            <InputText @bind-Value="filter.Guid" Class="form-control" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="documentGuid">User Uid:</label>
                            <InputText @bind-Value="filter.Uid" Class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="ticketGuid">First Name:</label>
                            <InputText @bind-Value="filter.FirstName" Class="form-control" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="documentGuid">Last Name:</label>
                            <InputText @bind-Value="filter.LastName" Class="form-control" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="documentGuid">Email:</label>
                            <InputText @bind-Value="filter.Email" Class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="pull-right">
                            <button class="btn btn-outline-primary btn-sm"
                                    type="button"
                                    disabled="@IsProcessing"
                                    @onclick="(async () => await SearchUsersAsync())">
                                @if (IsProcessing)
                                {
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    <span class="sr-only">Loading...</span>
                                }
                                Search
                            </button>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-outline-light btn-sm"
                                    type="button"
                                    @onclick="(() => ClearSearchSync())">
                                Clear Search
                            </button>&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>
<br />

@if (IsGridVisible)
{
    <div class="well">
        <div class="container container-fluid">
            <div class="div-panel" style="height: 450px;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>User Guid</th>
                            <th>Uid</th>
                            <th>User Name</th>
                            <th>Role</th>
                            <th>Activity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (users.Count > 0)
                        {
                            foreach (var user in users)
                            {
                                <tr @onclick="(() => NavigateToDetail(user.Guid.ToString()))" style="cursor: pointer;">
                                    <td>@user.Guid</td>
                                    <td>@user.Uid</td>
                                    <td>@user.FirstName @user.LastName</td>
                                    <td>@user.Role</td>
                                    <td>
                                        <BooleanStatusUIComponent IsSuccess="@user.IsActive"
                                                                  StatusTrue="Active"
                                                                  StatusFalse="Inactive " />
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td>No data by provided filter</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div class="well">
        <div class="container container-fluid">
            <div class="div-panel">
                <PagingUIComponent OnChangePage="@ChangePage"
                                   Page="@pagedResponse.Paging.Page"
                                   TotalPages="@pagedResponse.Paging.TotalPages"
                                   ShowFirstLast="false"
                                   ShowPageNumbers="true"
                                   VisiblePages="5"
                                   FirstText="First"
                                   LastText="Last" />
            </div>
        </div>
    </div>
    <br />
}

@code {
    [Inject] private NavigationManager _uriHelper { get; set; }
    [Inject] private IUserServiceProvider _userService { get; set; }

    List<UserDataView> users = new List<UserDataView>();
    PagedResponse<UserDataView> pagedResponse = new PagedResponse<UserDataView>();
    UserFilterRequest filter = new UserFilterRequest();

    public bool IsProcessing { get; private set; } = false;
    public bool IsGridVisible { get; private set; } = false;
    private int _page = 0;
    private int _pageSize = 8;

    protected async Task SearchUsersAsync()
    {
        IsProcessing = true;
        filter.Role = Enum.GetName(typeof(Roles), Roles.CUSTOMER);
        pagedResponse = await _userService.GetAllUsersByFilterAsync(_page, _pageSize, filter);
        users = pagedResponse.Items.ToList();
        IsProcessing = false;
        IsGridVisible = true;
    }

    public async Task ChangePage(int page)
    {
        _page = page;
        await SearchUsersAsync();
    }

    protected void ClearSearchSync()
    {
        filter = new UserFilterRequest();
    }

    private void OnRolesSelectChanged(string value)
    {
        filter.Role = value;
    }

    private void NavigateToDetail(string userGuid)
    {
        string clientUrl = $"{ClientUrls.BaseUrl}/{ClientUrls.UserDetails}/{userGuid}";
        JSRuntime.InvokeAsync<object>("open", clientUrl, "_blank");
    }
}
