﻿@page "/User/UserDetails"
@page "/User/UserDetails/{UserGuid}"

@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Authorization

@inject IJSRuntime JSRuntime

@using Pages.Areas.User.UserDomain.Actions
@using Pages.Areas.User.UserDomain.Models
@using Pages.Areas.Delivery.DeliveryDomain.Constants

@attribute [Authorize(Roles = Pages.Areas.User.AuthenticationDomain.Constants.Roles.ADMINOREMPLOYEE)]

<br />
<br />

@if (IsInitProcessing)
{
    <Loading />
}
else
{
    <div class="container" style="max-width:800px;">
        <div class="div-form-panel">
            <div class="row">
                <div class="col col-8">
                    <h4>User Details for user ID: @user.User.Id</h4>
                </div>
                <div class="col col-4" style="display: flex; justify-content: flex-end">
                    <BooleanStatusUIComponent IsSuccess="@user.User.IsActive"
                                              StatusTrue="Active"
                                              StatusFalse="Inactive " />
                </div>
            </div>
            <hr />
            <br />
            <div class="col-md-12">
                <h5>User Information</h5>
                <hr />
                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <td>User Guid:</td>
                            <td>@user.User.Guid</td>
                        </tr>
                        <tr>
                            <td>User Uid:</td>
                            <td>@user.User.Uid</td>
                        </tr>
                        <tr>
                            <td>User Name:</td>
                            <td>@user.User.FirstName @user.User.LastName</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>@user.User.Email</td>
                        </tr>
                        <tr>
                            <td>Phone Number:</td>
                            <td>@user.User.PhoneNumber</td>
                        </tr>
                        <tr>
                            <td>Role:</td>
                            <td>@user.User.Role</td>
                        </tr>
                        <tr>
                            <td>Date Created:</td>
                            <td>@user.User.DateCreated</td>
                        </tr>
                        <tr>
                            <td>Email confirmed:</td>
                            <td>
                                <BooleanStatusUIComponent IsSuccess="@user.User.IsEmailConfirmed"
                                                          StatusTrue="Confirmed"
                                                          StatusFalse="Unconfirmed" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <br />
            <div class="col-md-12">
                <h5>Actions</h5>
                <hr />
                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <td>
                                <a @onclick="(() => NavigateToCreateDelivery(user.User.Guid.ToString()))"
                                   class="link-hover">
                                    Create Delivery
                                    <span class="oi oi-external-link padding-left-10"></span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public string UserGuid { get; set; }

    [Inject] private IToastService _toastService { get; set; }
    [Inject] private NavigationManager _uriHelper { get; set; }
    [Inject] private IUserServiceProvider _userService { get; set; }
    [Inject] private IConfiguration _configuration { get; set; }

    UserDetailedDataView user = new UserDetailedDataView();

    public bool IsInitProcessing { get; private set; } = false;

    protected override async Task OnInitializedAsync()
    {
        IsInitProcessing = true;
        await GetUserByGuid();
        IsInitProcessing = false;
    }

    protected async Task GetUserByGuid()
    {
        user = await _userService.GetUserByGuidAsync(UserGuid);
    }

    private void NavigateToCreateDelivery(string userGuid)
    {
        string clientUrl = $"{ClientUrls.BaseUrl}/{ClientUrls.DeliveryCreate}/{userGuid}";
        JSRuntime.InvokeAsync<object>("open", clientUrl, "_blank");
    }
}
