﻿@page "/User/UserCreate"

@using Microsoft.AspNetCore.Authorization
@using Pages.Areas.User.UserDomain.Models
@using Pages.Areas.User.UserDomain.Constants
@using PrintmillManagement.Client.Pages.Areas.User.UserDomain.Actions

@attribute [Authorize(Roles = Pages.Areas.User.AuthenticationDomain.Constants.Roles.ADMINOREMPLOYEE)]

<br />
<div>
    <div class="container" style="max-width:600px;">
        <div class="div-form-panel">
            <EditForm Model="@createRequest" OnValidSubmit="@CreateNewAsync">
                <DataAnnotationsValidator />
                <div class="card">
                    <div class="card-header">
                        CREATE USER
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="description">First Name:</label>
                            <InputText @bind-Value="createRequest.FirstName"
                                       Class="form-control" />
                            <ValidationMessage For="(() => createRequest.FirstName)" style="color:#ff3636; padding:5px;" />
                        </div>
                        <div class="form-group">
                            <label for="description">Last Name:</label>
                            <InputText @bind-Value="createRequest.LastName"
                                       Class="form-control" />
                            <ValidationMessage For="(() => createRequest.LastName)" style="color:#ff3636; padding:5px;" />
                        </div>
                        <div class="form-group">
                            <label for="note">Email:</label>
                            <InputText @bind-Value="createRequest.Email"
                                       Class="form-control" />
                            <ValidationMessage For="(() => createRequest.Email)" style="color:#ff3636; padding:5px;" />
                        </div>
                        <div class="form-group">
                            <label for="note">Phone Number:</label>
                            <InputText @bind-Value="createRequest.PhoneNumber"
                                       Class="form-control" />
                            <ValidationMessage For="(() => createRequest.PhoneNumber)" style="color:#ff3636; padding:5px;" />
                        </div>
                        <div class="form-group">
                            <label for="serviceTypeId">User Role:</label>
                            <InputSelect @bind-Value="@createRequest.Role"
                                         Class="form-control"
                                         required="required">
                                <option value="">- Select Option From List -</option>
                                @foreach (var role in Enum.GetValues(typeof(Roles)))
                                {
                                    <option value="@role">@role</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => createRequest.Role)" style="color:#ff3636; padding:5px;" />
                        </div>
                        <div class="form-group">
                            <label for="note">Password:</label>
                            <InputText @bind-Value="createRequest.Password"
                                       Class="form-control"
                                       type="password" />
                            <ValidationMessage For="(() => createRequest.Password)" style="color:#ff3636; padding:5px;" />
                        </div>
                        <div class="form-group">
                            <label for="note">Confirm Password:</label>
                            <InputText @bind-Value="createRequest.ConfirmPassword"
                                       Class="form-control"
                                       type="password" />
                            <ValidationMessage For="(() => createRequest.ConfirmPassword)" style="color:#ff3636; padding:5px;" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="d-flex bd-highlight mb-3">
                    <div class="p-2 bd-highlight">
                        <button @onclick="NavigateUserView"
                                class="btn btn-outline-primary btn-block">
                            Cancel
                        </button>
                    </div>
                    <div class="ml-auto p-2 bd-highlight">
                        <button class="btn btn-outline-primary btn-block"
                                type="submit"
                                disabled="@IsProcessing">
                            @if (IsProcessing)
                            {
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            }
                            Create New User
                        </button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>
<br />

@code {
    [Inject] private IUserServiceProvider _userService { get; set; }

    [Inject] private NavigationManager _uriHelper { get; set; }
    [Inject] private IToastService _toastService { get; set; }

    UserCreateRequest createRequest = new UserCreateRequest();

    public bool IsProcessing { get; private set; } = false;

    protected async Task CreateNewAsync()
    {
        // TODO create UI side validation
        IsProcessing = true;
        var response = await _userService.CreateUserAsync(createRequest);
        IsProcessing = false;

        if (response.Success)
        {
            _toastService.ShowSuccess(response.Message);
        }
        else
        {
            _toastService.ShowError(response.Message);
        }

        NavigateUserView();
    }

    private void NavigateUserView()
    {
        string clientUrl = $"{ClientUrls.BaseUrl}/{ClientUrls.UserView}";
        _uriHelper.NavigateTo(clientUrl);
    }
}
