﻿@page "/404"

<br />
<br />

<div>
    <div class="container" style="max-width:800px;">
        <div class="div-form-panel">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-md-center">
                            <h3>We are sorry, but we couldn't find the page you are looking for</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-md-center m-5 text-primary">
                    <button type="button" class="btn btn-primary" @onclick="NavigateToHome">Navigate to the Home Page</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Inject]
    public NavigationManager NavigationManager { get; set; }

    public void NavigateToHome()
    {
        Console.WriteLine(NavigationManager.Uri);
        NavigationManager.NavigateTo("/");
    }
}
