﻿@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="4"
                ShowProgressBar="true"/>

<AuthorizeView>
    <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>
        <div>
            @Body
        </div>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
        <div>
            @Body
        </div>
    </NotAuthorized>
</AuthorizeView>