﻿@using PrintmillManagement.Client.Pages.Areas.User.AuthenticationDomain.Actions
@using PrintmillManagement.Client.Pages.Areas.User.AuthenticationDomain.Constants

<nav class="navbar fixed-top navbar-dark bg-primary">
    <button class="btn btn-sidebar" type="button" id="sidebarCollapse" @onclick="SidebarCollapse">
        <span class="oi oi-menu"></span>
    </button>
    <ul class="navbar-nav mr-auto">
        <li style="padding-left:10px;">
            <a>Print & Mill Management</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <button class="btn btn-outline-primary" type="button" id="sidebarCollapse" @onclick="SignOut">
            SignOut
        </button>
    </ul>
</nav>

<aside id="sidebar" class="sidebar @SidebarActive">
    <div class="sidebar-header">
        <div style="text-align:center">
            <button type="button" id="sidebarCollapse" class="btn" @onclick="SidebarCollapse">
                <h4>Print & Mill Management</h4>
            </button>
        </div>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item px-3" @onclick="SidebarCollapse">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <AuthorizeView Roles=@Roles.CUSTOMER>
            <Authorized>
                <li class="nav-item px-3" @onclick="SidebarCollapse">
                    <NavLink class="nav-link" href="Ticket/TicketViewCustomer">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Tickets
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles=@Roles.ADMINOREMPLOYEE>
            <Authorized>
                <li class="nav-item px-3" @onclick="SidebarCollapse">
                    <NavLink class="nav-link" href="User/UserView">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Users
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
@*        <AuthorizeView Roles=@Roles.EMPLOYEE>
            <Authorized>
                <li class="nav-item px-3" @onclick="SidebarCollapse">
                    <NavLink class="nav-link" href="User/UserViewEmployee">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Users
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>*@
        <AuthorizeView Roles=@Roles.ADMINOREMPLOYEE>
            <Authorized>
                <li class="nav-item px-3" @onclick="SidebarCollapse">
                    <NavLink class="nav-link" href="Ticket/TicketView">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Tickets
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles=@Roles.ADMINOREMPLOYEE>
            <Authorized>
                <li class="nav-item px-3" @onclick="SidebarCollapse">
                    <NavLink class="nav-link" href="Delivery/DeliveryView">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Deliveries
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles=@Roles.ADMINOREMPLOYEE>
            <Authorized>
                <li class="nav-item px-3" @onclick="SidebarCollapse">
                    <NavLink class="nav-link" href="Ticket/TicketImportSolved">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Import Data
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</aside>

<div class="overlay @OverlayActive" @onclick="SidebarCollapse"></div>

@code{
    [Inject] private IAuthenticationServiceProvider _services { get; set; }

    [Inject] private NavigationManager _uriHelper { get; set; }

    public string SidebarActive { get; private set; } = null;

    public string OverlayActive { get; private set; } = null;

    private const string Active = "active";

    private string ButtonState { get; set; } = null;


    public void SidebarCollapse()
    {
        OverlayActive = SidebarActive = SidebarActive == Active ? null : Active;
    }

    public async void SignOut()
    {
        await _services.LogoutAsync();
        _uriHelper.NavigateTo("/login");
    }
}