﻿@page "/Login"

@using PrintmillManagement.Client.Pages.Areas.User.AuthenticationDomain.Models
@using PrintmillManagement.Client.Pages.Areas.User.AuthenticationDomain.Actions

<br />
<br />
<div>
    <div class="container" style="max-width:600px;">
        <div class="div-form-panel">
            <div class="row pt-4 pb-4">
                <div class="col-md-8 offset-md-2">
                    <h4 class="text-center">Please enter your email and password</h4>
                </div>
            </div>
            <EditForm Model="@request" OnValidSubmit="@UserAuthentication">
                <DataAnnotationsValidator />
                <div class="container">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <InputText @bind-Value="request.Email" Class="form-control" required="required" />
                        <ValidationMessage For="(() => request.Email)" style="color:lightgrey" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <InputText @bind-Value="request.Password" class="form-control" required="required" type="password"/>
                        <ValidationMessage For="(() => request.Password)" style="color:lightgrey" />
                    </div>

                    <div class="form-group">
                        <button class="btn btn-outline-primary btn-block"
                                type="submit"
                                disabled="@IsProcessing">
                            @if (IsProcessing)
                            {
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            }
                            Login
                        </button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>
<br />
<br />

@code {
    [Inject] private IAuthenticationServiceProvider _services { get; set; }
    [Inject] private NavigationManager _uriHelper { get; set; }
    [Inject] private IToastService _toastService { get; set; }

    public bool IsProcessing { get; private set; } = false;

    private AuthenticationRequest request = new AuthenticationRequest();

    protected async Task UserAuthentication()
    {
        IsProcessing = true;
        var loginResponse = await _services.LoginAsync(request);
        IsProcessing = false;

        if (loginResponse.Success)
        {
            _uriHelper.NavigateTo("/Dashboard");
            this.StateHasChanged();
        }
        else
        {
            _toastService.ShowError(loginResponse.Message);
            ClearFields();
        }
    }

    protected void ClearFields()
    {
        request = new AuthenticationRequest();
    }
}